<%- include header %>

<form method="post" class="postArticle">  
  <input type="text" name="title" value="<%= post.title %>"  /><br />  
  <textarea name="post" rows="20" cols="100"  class="writeLog"><%= post.post %></textarea><br />
  <input type="submit" value="保存修改" />
</form>

<%- include footer %>