<%- include header %>
 <div class="log">
  <div class="wLogTag">写日志</div>
 
<form method="post" class="postArticle">  
  <input type="text" name="title" value="请在这里输入标题"/><br />  
  <textarea name="post" rows="20" cols="80" class="writeLog"></textarea><br />
  <input type="submit" value="发表" class="whiteLogBtn" />
</form>
<div>
<%- include footer %>